.dishes {
  display: relative;
	width: 90%;
	height: 500px;
	position: relative;
	@include flex-column;
	background: rgba(255, 255, 255, 0.6);
	margin-bottom: 50px;
	border-radius: 10px;
  @include bg-gradient;
  transition: opacity 1s ease-in-out;
  opacity: 1;
      
	.carousel.slide {
    width: 121%;
  }

  .carousel-control-next,
  .carousel-control-prev {
      z-index: 9;

      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        filter: invert(56%) sepia(196%) saturate(2203%) hue-rotate(225deg) brightness(103%) contrast(253%) drop-shadow(1px 1px 2px #000) !important;
      }

      &:active ~ .dishes-item__details {
        color: #f00;
      }
  }
  
  .dishes__container {
    font-size: 0;
    padding-bottom: 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    
    &:hover > .dishes-item {
      opacity: .5;
    }
    
    .dishes-item {
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      @include flex-column;
      width: 20%;
      min-width: 15%;
      max-width: 20%;
      height: 290px;
      font-size: ($font-size / 2);
      @extend %item-base;
      border: 2px solid nth($site-colors, 5);
      top: calc(100% - 290px);
      transition: all .5s ease;

      &.dish-1 {
        animation-delay: .5s;
      }

      &.dish-2 {
        animation-delay: 1s;
      }

      &.dish-3 {
        animation-delay: 1.5s;
      }

      &.dish-4 {
        animation-delay: 2s;
      }

      & {
        transition: all 0.5s ease-in-out;
        .carousel.slide {
          height: 100%;
          transition: all 0.5s ease-in-out;
          .carousel-inner {
            transition: all 0.5s ease-in-out;
            height: 100%;
            .carousel-item {
              transition: all 0.5s ease-in-out;
              height: 100%;
              .carousel-item__img {
                transition: all 0.5s ease-in-out;
              }
            }
          }
        }
      }

      .view-pics-cb {
        display: none;
      }

      .view-pics {
        top: 0;
        margin: 0 auto;
        z-index: 10;
        opacity: .5;
        cursor: pointer;

        &:hover {
          opacity: 1;
          transition: opacity .2s ease,
            color .4s ease;
          color: nth($font-colors, 4);
          border: 2px solid nth($font-colors, 4);
          padding: 0 3px;
          border-radius: 4px;
        }
      }

      &:hover ~ :not(:hover) {
        opacity: .5;
      }

      &:hover {
        opacity: 1;
        transform: scale(1.2);
        animation: all .5s;
        transition: all 0.5s ease-in-out!important;
        box-shadow: 0px 10px 20px -5px #000;

        .card-toolbar {
          height: $toolbar-active;
          transition: all .5s ease;
          padding: 2px;

          & > * {
            visibility: unset;
          }
        }

        .view-pics-cb:checked ~ .card-toolbar {
        
          & > .view-pics {
            opacity: 1;
            color: nth($font-colors, 1);
            border: 2px solid nth($font-colors, 1);
            padding: 0 3px;
            border-radius: 4px;
          }
        }


        /* Llevamos abajo los detalles de la card para ver las imgs */
        .view-pics-cb:checked ~ .dishes-item__details {
          height: 15%;
          background: nth($site-colors, 6);
          padding-top: 10%;
          text-shadow: none;

          &:hover {
            @include active-dishes-item;
          }

          .dishes__details--title {
            color: nth($font-colors, 3);
            @include flex-column;
          }

          /* Ocultamos botón y estrellas de rating para ver las fotos */
          .dishes-item__details--rating {
            height: 0%;
            i {
              height: 0%;
              width: 0%;
            }

            svg {
              height: 0%;
              width: 0%;
            }
          }
          
          button {
            height: 0%;
            opacity: 0;
            transition: all .5s ease-in-out;
          }
        }

        .view-pics-cb:checked ~ .carousel.slide {
          .carousel-inner > .carousel-item {
            &:before {
              background: transparent;
              transition: all .5s ease;
            }

            .dishes-item__img {
              transform: scale(1.8);
            }
          }
        }

        .carousel.slide {

          height: 100%;
          transition: all 0.5s ease-in-out;

          .carousel-inner {
            height: 100%;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            transition: all 0.5s ease-in-out;
            .carousel-item {
              &:before {
                content: ' ';
                z-index: 2;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
              }
              transition: all 0.5s ease-in-out;
              .dishes-item__img {
                transition: all 0.5s ease-in-out;
                transform: scale(1.4);
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
              }
            }

          }

          &:before {
            content: '';
            background-color: linear-gradient(to top, #000 10%, rgba(255, 255, 255, 0) 100%);
            opacity: .5;
            z-index: 9999;
          }
        }

        .dishes-item__details {
          @include active-dishes-item;
        }
      }
      
      p {
        padding: 11px;
        margin-bottom: 0;
      }
      
      
      .dishes-item__img {
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        transition: all .5s ease-in-out;
      }

      .fav-1 {
        content: url('../img/dishes/burger.jpg');
        background-size: cover;
      }

      .fav-2 {
        content: url('../img/dishes/burger-2.jpg') no-repeat;
        background-size: cover;
      }

      .fav-3 {
        content: url('../img/dishes/burger-quinoa.jpg') no-repeat;
        background-size: cover;
      }

      .fav-4 {
        content: url('../img/dishes/burger-2.jpg') no-repeat;
        background-size: cover;
      }
      
      .dishes-item__details {
        background-color: nth($site-colors, 6);
        color: nth($site-colors, 1);
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 40%;
        @include flex-column-evenly;
        transition: all .5s ease-in-out;

        .dishes-item__details--rating {
          .fa-star {
            color: nth($site-colors, 4);
          }
        }
        
        .button {
          background-color: nth($font-colors, 3);
          border: none;
          border-radius: 25px;
          color: #fff;
          cursor: pointer;
          font-size: $font-size - 14;
          font-weight: bold;
          
          margin: 10px 0px;
          width: 150px;
          outline: none;
          opacity: 0;
          height: 0;
          transition: height .5s ease-in-out;
          transition: opacity .8s ease-in-out;
          
          &:hover {
            background-color: nth($site-colors, 5);
            color: nth($font-colors, 1);
            transition: all .1s ease-in-out;
          }
        }
      }
    }
  }
}

@keyframes ingreso-tarjetas {
  0% {
    top: 500px;
  }
  100% {
    top: 0px;
  }
}

